#displayArea {
	position: relative;
	width: 800px;
	height: 800px;	
	margin: 0px auto;	
	border: 1px solid black;
}

#statusOut {
	position: absolute;
	left: 900px;
}

#btn {
	position: relative;
	text-align:center;
	margin: 50px auto;
}

img {
 margin: 0;
 position: relative;
 float: left;
}

.tile {
	position: relative;
	float: left;
	width: 8px;
	height: 8px;
	margin: 0px;
}
